@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: #3F51B5;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 1rem 2rem 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: center;
}

.container h1{
    margin: 0rem 1rem 0.5rem 1rem;
    /* padding: 0 0.5rem; */
}

.navbar_container{
    margin: 0 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #303F9F;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    .navbar_container {
      flex-direction: column;
    }
  }

.searchbar input{
    background-color: transparent;
    padding: 0.75rem;
    width: 500px;
    font-size: medium;
    border-radius: 5px;
    border: 2px  solid;
    border-color: #BDBDBD; 
    outline: none;
    color: white;
}
input::placeholder{
    color: #BDBDBD;
}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 1200px) {
    .searchbar input {
        max-width: 50%;
        min-width: 200px;
    }

    .filters{
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 0.5rem;
    }
  }

.games_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.game_card{
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid;
    border-color: #303F9F; 
    border-radius: 5px;
    background: #E040FB;
    position: relative;
    text-align: left;
}
@media screen and (max-width: 1220px) {
    .game_card{
        width: 300px;
    }
}

.game_card_head{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
}

.rating{
    margin-left: 2rem;
    padding: 0.5rem 0.75rem;
    background: #3F51B5;    
    border-radius: 3px;
}

.head_key{
    color: #fff;
    font-weight: 700;
}

.ribbon{
    margin: 0.5rem 0.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-image: url('./assets/editors_choice.png');
}
.ribbon img{
    width: 100%;
}

.filters{
    display: flex;
    justify-content: space-evenly;
}

.filter_container{
    margin: 0 1rem;
}

.filter_container select{
    width: 130px;
    height: 40px;
    font-size: 0.9rem;
    border: 0;
    overflow: hidden;
    color: #303F9F;
    margin-top: 0.5rem;
    padding-left: 10px;
    border-radius: 5px;
}